body{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 181, 181);
}

.main{
    max-width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0;
    background-color: white;
}

.header{
    position: relative;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-image: url(./src/img/bg_header.jpg)/* Image par bess.hamiti@gmail.com de Pixabay */;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header h1{
    height: 50px;
}
#list{
    padding: 0 5px;
}
#list li{
    list-style: none;
    line-height: 1em;
    width: 100%;
    height: 2.3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0;
    margin: 0;
}
#list li i.co{
    position: absolute;
    padding-left: 5px;
    left: 15px;
    top: 10px;
    cursor: pointer;
}
#list li p{
    position: absolute;
    left: 50px;
    top: 10px;
    font-size: 1.2em;
    font-weight: 500;
}
#list li i.de{
    position: absolute;
    padding-left: 5px;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

#list li i.ed{
    position: absolute;
    padding-left: 5px;
    right: 40px;
    top: 10px;
    cursor: pointer;
    padding-right: 10px;
    border-right: 1px solid rgb(171, 171, 171);
}

#list li i.fa-circle-check{
    color: green;
    cursor: pointer;
}

#date{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
}
.content{
    height: 350px;
}

.add-item{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    border-top: 1px solid rgb(140, 140, 140);
}
.add-item i{
    margin: 0 10px 0 0;
    font-size: 30px;
    color: rgb(6, 105, 254);
}
.add-item input:focus {
    outline: none;
    box-shadow: 0px 0px 3px rgb(6, 105, 254);
    border: 1px solid rgb(6, 105, 254);
}
.add-item input::placeholder{
    color: rgb(6, 105, 254);
}
.add-item input{
    width: 100%;
    color: rgb(6, 105, 254);
    font-weight: bolder;
    border: none;
    color: rgb(6, 105, 254);
}
#addBtn{
    cursor: pointer;
}
.completeItem{
    text-decoration: line-through;
    color: lightslategray;
}

ul li input{
    margin: 5px 45px;
    border-color: orange;
    color: orange;
}

/***** HORLOGE *****/

.clock {
    position: absolute;
    bottom: 13%;
    right: 5%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(255,255,255, 0.5);
    border: 5px solid white;
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.number{
    position: absolute;
    font-size: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}
.number1{
    --rotation: 30deg;
}
.number2{
    --rotation: 60deg;
}
.number3{
    --rotation: 90deg;
}
.number4{
    --rotation: 120deg;
}
.number5{
    --rotation: 150deg;
}
.number6{
    --rotation: 180deg;
}
.number7{
    --rotation: 210deg;
}
.number8{
    --rotation: 240deg;
}
.number9{
    --rotation: 270deg;
}
.number10{
    --rotation: 300deg;
}
.number11{
    --rotation: 330deg;
}
.clock .hand.hour {
    width: 4px;
    height: 27%;
    background-color: white;
  }
.clock .hand.second {
    width: 1px;
    height: 45%;
    background-color: red;
  }
  
  .clock .hand.minute {
    width: 4px;
    height: 35%;
    background-color: white;
  }

.hand{
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));
}